.section-deliverables {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .deliverables-title {
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 6rem;
            color: orange;
        }
        
        p {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    .marquee-content {
        display: flex;
        gap: 7rem
    }
    
    .marquee-container {
        flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      gap: 7rem;
      animation: marquee  30s linear infinite;
    }

    .items p {
        font-weight: 700;
        font-size: 1.6rem;
    }
    
    .items{
        padding: 2rem;
        height:40rem;
        width: 32rem;
        color: #fff;
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 0.5rem;
        transition: scale 0.2s;
    }

    .items:hover {
        cursor: pointer;
        background-color: orange;
        scale: 1.1;
    }
    
    
    .marquee-items1 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/branding.jpg');
    }
    
    .marquee-items2 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/graphics.jpg');
    }
    .marquee-items3 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/photography.jpg');
    }
    .marquee-items4 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/video.jpg');
    }
    .marquee-items5 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/digital.jpg');
    }
    .marquee-items6 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/analytic.jpg');
    }
    .marquee-items7 {
        background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../../assets/social.jpg');
        
    }
    
    
    
    .tags {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }
    
    .tags span {
        padding: 0.6rem 1.4rem;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        border: 1px solid #ffffff51;
        border-radius: 50px;
    }
    
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 7rem));
    }
}





